<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fantasy Football</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams">Teams</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-lg-6">
          <mat-card>Iowa Cubs</mat-card>
      </div>
      <div class="col-lg-6">
          <mat-card>Catious Clay</mat-card>  
      </div>
    </div>
</div>
