<div class="row">
    <span class="span-button" routerLink="/teams"><i class="material-icons">arrow_back_ios</i><h3 style="display: inline;">Teams</h3></span>
</div>

<div class="row">
  <h1>{{ name }}</h1>
</div>

<div class="row"><h2>Running Backs</h2></div>
<div class="row">
  <table matSort>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="team">Team</th>
      <th mat-sort-header="rushYards">Rush Yards</th>
      <th mat-sort-header="rushTds">Rush TDs</th>
      <th mat-sort-header="receivingYards">Receiving Yards</th>
      <th mat-sort-header="receivingTds">Receiving TDs</th>
    </tr>
  
    <tr *ngFor="let player of getRunningBacks()">
      <td>{{player.firstName}} {{player.lastName}}</td>
      <td>{{player.teamNickName}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).rushingYards}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).rushingTds}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).receivingYards}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).receivingTds}}</td>
    </tr>
  </table>
</div>

<div class="row"><h2>Wide Receivers</h2></div>
<div class="row">
  <table matSort>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="fat">Team</th>
      <th mat-sort-header="receivingYards">Receiving Yards</th>
      <th mat-sort-header="receivingTds">Receiving TDs</th>
      <th mat-sort-header="rushYards">Rush Yards</th>
      <th mat-sort-header="rushTds">Rush TDs</th>
    </tr>
  
    <tr *ngFor="let player of getWideReceivers()">
      <td>{{player.firstName}} {{player.lastName}}</td>
      <td>{{player.teamNickName}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).receivingYards}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).receivingTds}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).rushingYards}}</td>
      <td *ngIf="playerStats.get(player.id)">{{playerStats.get(player.id).rushingTds}}</td>
    </tr>
  </table>
</div>