@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div {
  margin: 5px;
}

.span-button:hover {
  cursor: pointer;
}

.span-button:focus {
  outline: 0!important;
}

table {
  width: 100%
}

th {
  width: 16%;
}

td {
  width: 16%;
}

.team-block {
  height: 300px;
  text-align: center;
  background-color: #e8ecf2;
}

.team-block:hover {
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, .2);
}

.home-block {
  height: 200px;
  text-align: center;
  background-color: #e8ecf2;
}

.home-block:hover {
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, .2);
}