@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div {
  margin: 5px;
}

.span-button:hover {
  cursor: pointer;
}

.span-button:focus {
  outline: 0!important;
}

table {
  width: 100%;
}