<div class="row">
  <h2>Leaderboard</h2>
</div>
<!-- <div class="row">
  <div class="col-lg-3">
    <div class="row"><div class="col-lg-12"><h3>Quarterback</h3></div></div>
    <div class="row">
      <h1>{{ players.runningBacks[2][0].firstName }}</h1>
    </div>
  </div>
  <div class="col-lg-3">
      <div class="row"><div class="col-lg-12"><h3>Runningback</h3></div></div>
    <div class="row"></div>
  </div>
  <div class="col-lg-3">
      <div class="row"><div class="col-lg-12"><h3>Wide Receiver</h3></div></div>
    <div class="row"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <a routerLink="/teams" style="text-decoration: none"><mat-card class="home-block">Teams</mat-card></a>
  </div>
</div> -->