<div class="row" style="text-align: center;">
  <h2>Position MVPs</h2>
</div>
<div class="row">
  <table matSort>
    <tr>
      <th mat-sort-header="QB">Quarterback</th>
      <th mat-sort-header="RB">Runningback</th>
      <th mat-sort-header="WR">Wide Receiver</th>
    </tr>
  
    <tr>
        <td></td>
        <td>{{getMaxRbPoints()['info'].firstName}} {{getMaxRbPoints()['info'].lastName}} - {{getMaxRbPoints()['points']}}</td>
        <td>{{getMaxWrPoints()['info'].firstName}} {{getMaxWrPoints()['info'].lastName}} - {{getMaxWrPoints()['points']}}</td>
      </tr>
  </table>
  </div>

<div class="row">
  <div class="col-lg-12">
      <a routerLink="/teams" class="span-button" style="text-decoration: none"><mat-card class="home-block">Teams</mat-card></a>
  </div>
</div>